<!-- Load c3.css -->
<link href="./lib/c3.min.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="./lib/d3.min.js" charset="utf-8"></script>
<script src="./lib/c3.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<body>
    <div id="app">
        <span class="label">Asset:</span>
        <select v-model="asset.selected">
            <option v-for="option in asset.options" :value="option.id">
                {{ option.text }}
            </option>
        </select>

        <br><br>

        <span class="label">Metric:</span>
        <select v-model="metric.selected">
            <option v-for="option in metric.options" :value="option.id">
                {{ option.text }}
            </option>
        </select>

        <div style="display: inline-block; margin-left: 2em;">
            <span class="label">Max/Min lag:</span>
            <select v-model="lag.selected">
                <option v-for="option in lag.options" :value="option.id">
                    {{ option.text }}
                </option>
            </select>
        </div>

        <br><br>

        <h3>Closest assets for a static period of time</h3>

        <span class="label">Starting:</span>
        <select v-model="starting.selected">
            <option v-for="option in starting.options" :value="option.id">
                {{ option.text }}
            </option>
        </select>

        <div style="display: inline-block; margin-left: 2em;">
            <span class="label">Period length:</span>
            <select v-model="period.selected">
                <option v-for="option in period.options" :value="option.id">
                    {{ option.text }}
                </option>
            </select>
        </div>

        <br><br>

        <span class="label">Neighbours:</span>
        <input v-model="neighbour" style="width:6em;" />

        <div style="display: inline-block; margin-left: 2em;">
            <span class="label">Quantile:</span>
            <input v-model="quantile" style="width:6em;" />
        </div>

        <br><br>

        <table >
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Neighbour</th>
                    <th>lag</th>
                    <th>quantile</th>
                    <th>corr</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="dato in datosTabla">
                    <td>{{dato.position}}</td>
                    <td>{{dato.other}}</td>
                    <td>{{dato.lag}}</td>
                    <td></td>
                    <td>{{dato.cor}}</td>
                </tr>
            </tbody>
        </table>

        <br><br>

        <div id="chart"></div>

    </div>
</body>

<script>
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            chart: null,

            //Selects
            asset: {
                selected: 'atlans10',
                options: [
                    {'id': 'atlans10', 'text': 'ATLANS10'},
                ],
            },
            metric: {
                selected: 'lagged',
                options: [
                    {'id': 'lagged', 'text': 'Lagged correlation'},
                ],
            },
            lag: {
                selected: 14,
                options: [
                    {'id': '14', 'text': '14'},
                ],
            },
            starting: {
                selected: null,
                options: [],
            },
            period: {
                selected: null,
                options: [],
            },
            neighbour: null,
            quantile: null,

            datosTabla: [],

            seriesGrafico: [],
            fechasGrafico: [],
        },
        mounted: function() {
            let meses =  ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
            let anios = ['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020'];
            for(let a=0; a<anios.length;a++) {
                for (let m = 0; m < meses.length; m++) {
                    this.starting.options.push(
                        {'id': meses[m]+anios[a], 'text': meses[m]+" "+anios[a]},
                    )
                }
            }
            this.starting.selected = this.starting.options[0].id;

            for (let m=1; m<=12; m++){
                this.period.options.push(
                    {'id': m, 'text': m+' Months'}
                )
            }
            this.period.selected = this.period.options[0].id;

            fetch("./data.json")
                .then(r => r.json())
                .then(json => {
                    this.datosTabla=json.neighbours.neigh_table;
                    this.seriesGrafico= Object.keys(json.series.series).map(k => [k, ...json.series.series[k]])
                    this.fechasGrafico= ['date', ...json.series.dates]

                        this.chart = c3.generate({
                            bindto: '#chart',
                            size: {
                                width: 1200,
                            },
                            data: {
                                x: 'date',
                                columns: [
                                    this.fechasGrafico,
                                    ...this.seriesGrafico,
                                ],
                            },
                            legend: {
                                position: 'right'
                            },
                            color: {
                                // pattern: ['#9467bd', '#dbdb8d', '#17becf']
                            },
                            axis: {
                                x: {
                                    type: 'timeseries',
                                    tick: {
                                        format: '%d/%m/%Y'
                                    }
                                }
                            },
                            // regions: [
                            //     {axis: 'x', start: '2013-01-01', end: '2013-01-03', class: 'region-a'},
                            //     {start: '2013-01-03', end: '2013-01-06', class: 'region-b'},
                            //     {start: '2013-01-06', end: '2013-01-09', class: 'region-a'},
                            //     {start: '2013-01-09', end: '2013-01-12', class: 'region-b'},
                            // ],
                            subchart: {
                                show: false
                            },
                        });
                },
                response => {
                    console.log('Error loading json:', response)
                });
        },
    })
</script>

<style>

    body{
        padding:2em;
    }
    #app{
        font-family: sans-serif;
    }

    .label{
        font-weight: 700;
    }

    .c3-region.region-a{
        fill: violet !important;
    }
    .c3-region.region-b{
        fill: white !important;
    }

    table {
         font-family: arial, sans-serif;
         border-collapse: collapse;
         width: 40%;
     }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

</style>